/* You can customize theme styles here */

@font-face {
  font-family: "FakeSerif";
  src: url("/fonts/fakeserif/FakeSerif.woff") format("woff"),
    url("/fonts/fakeserif/FakeSerif.otf") format("opentype");
}

.header .navbar-brand span:first-child,
.testimonial__author-info span,
.experience__company {
  color: #7392b7;
}
.header .navbar-brand span:nth-child(2) {
  font-family: FakeSerif;
  font-size: 60px;
  margin-top: -40px;
}

.rad-showcase__bg img {
  max-height: 621px;
}